@import 'styles/reset';

html {
    overflow: hidden;
}// overflow: hidden;
.game {
    position: relative;
    display:block;
    box-sizing: border-box;
    
    #land-bash{
        position: absolute;
        z-index: 1;
    
    }
    #camera {
        height: 600px;
        width: 600px;
        background: none;
        z-index: -1;
        position: absolute;
    }
    #outcamera {
        top: 600px;
        height: 1200px;
        width: 600px;
        position: absolute;
        background: white;
        z-index: 2;
    }
}

// #end-turn {
//     display: block;
// }


