@import 'styles/reset';

html {
    overflow: hidden;
}// overflow: hidden;
.game {
    position: relative;
    display:block;
    box-sizing: border-box;
    
    #land-bash{
        position: absolute;
        z-index: 1;
    }
    #outcamera {
        top: 600px;
        height: 1200px;
        width: 600px;
        position: absolute;
        background: white;
        z-index: 2;
    }
    #land-form {
        position :relative;
        background: none;
        font-size: 25px;
        left:195px;
        width: 200px;
        top: 280px;
        z-index: 3;
        display: block;
        #land-name {
            width: 100%;
        }
    }
}

// #end-turn {
//     display: block;
// }


